<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MegaApiClient" version="1.2.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NLog" version="4.3.3" targetFramework="net452" />
  <package id="Polly" version="4.2.2" targetFramework="net452" />
  <package id="SystemWrapper.Interfaces" version="0.13.0.59" targetFramework="net452" />
  <package id="SystemWrapper.Wrappers" version="0.13.0.59" targetFramework="net452" />
</packages>